.bgforauth{
    background-image: url('./cool-motorcycle-indoors.jpg');
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 100% 100%;
  
}
.forblur{
    backdrop-filter: blur(5px);
    
}

.bgforaddbike{
    background-image: url('./cool-motorcycle-indoors\ \(1\).jpg');
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 100% 100%;
  
}
